{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %} 

{% endblock %} 

{% block content %} 
<div class="col-md-6">
<h2>ESSArch Tools Producer - Version Information</h2>

<strong>Installed python packages</strong>
<br>
<br>
<div id="packagesdiv" >
</div>
</div>
{% endblock %} 

{% block app-extra-script %}
 <!--- JQuery 2.0.3-->
 <script src="/static/jquery-2.0.3.min.js"></script>
<!--Bootstrap-->
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
<script src="/static/bootstrap/js/bootstrap.js"></script>
 <script>

$(document).ready(

function(){
    
    var installedpackages = {};
    
    $.getJSON('/installedpackages/', function(installedpackages){
        
        var packageshtml = ''
        
        for(i=0; i< installedpackages.length; i++){

            packageshtml = packageshtml  + installedpackages[i][0] + "==" + installedpackages[i][1] + " ";
            
        }
        
        $("#packagesdiv").html(packageshtml);
    });
    
}

);

  </script>
  
{% endblock %}
