<head>
    <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_ip_approval.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
    <!--Angular Scripts -->
    <!--App -->
    <!--Controllers-->
</head>
<body>
    <div class="content-wrapper">
        <div class="list-view">
            <table st-table="ipCollection" st-safe-src="ipRowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="label" class="column-label">Label</th>
                        <th st-sort="content" class="column-label">Content</th>
                        <th st-sort="responsible" class="column-label">Responsible</th>
                        <th st-sort="date" class="column-label">Date</th>
                        <th st-sort="state" class="column-label">State</th>
                        <th st-sort="status" class="column-label">Status</th>
                    </tr>
                    <tr>
                        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" ng-repeat="row in ipCollection" class="table-item">
                        <td class="clickable" ng-click="ipTableClick(row)">{{row.Label}}</td>
                        <td class="clickable" ng-click="ipTableClick(row)">{{row.ObjectUUID}}</td>
                        <td>{{row.Responsible}}</td>
                        <td>{{row.CreateDate | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                        <td>{{row.State}}</td>
                        <td>
                            <uib-progressbar class="progress-striped active" animate="true" value="row.status" type="success"><b>{{row.status}}</b></uib-progressbar>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="select || subSelect || edit || eventlog || statusShow" class="select-sub-edit-eventlog-wrapper">
            <div ng-if="select" class="select-view">
                <p>{{ip.Label}}</p>
                <table st-table="selectCollection" st-safe-src="selectRowCollapse" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="info-popover column-enabled"><p uib-popover="If checked, profile is enabled" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500">Enabled</p></th>
                            <th class="info-popover column-entity"><p uib-popover="Profile type" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500">Entity</p></th>
                            <th class="info-popover column-profile"><p uib-popover="Select which profile to use" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500">Profile</p></th>
                            <th class="info-popover column-state"><p uib-popover="State of current chosen profile" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500">State</p></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkBox" ng-disabled="true" checked="checked"></input>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a><p>{{saProfile.entity}}</p></a>
                            </td>
                            <td><select ng-disabled="true" class="form-control" ng-model="currentSa" ng-change="getSelectCollection(currentSa)" ng-options="x as x.sa_name for x in saProfile.profiles"></select></td>
                            <td>{{currentSa.sa_status}}</td>
                            <a ng-click="showHideAllProfiles()">Show/hide profiles</a>
                        </tr>

                        <tr uib-collapse="!profilesCollapse" ng-repeat="row in selectCollection">
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkBox" ng-disabled="true" checked></input>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a ng-disabled="row.locked" ng-click="profileClick(row)">{{row.profile_label}}</a>
                            </td>

                            <td><select ng-disabled="true" class="form-control" ng-init="row.profile" ng-model="row.profile" ng-options="x as x.name for x in row.profiles" ng-change="changeProfile(row.profile)"></select></td>
                            <td>{{row.profile.status}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div ng-if="subSelect" class="sub-select-view">
                {{selectProfile.entity}}
                <select class="sub-select-profile form-control" ng-model="subSelectProfile" ng-options="x for x in subSelectOptions"></select>
                <select class="sub-select-agreement form-control" ng-model="subSelectProfile" ng-options="x for x in subSelectOptions"></select>
                <select class="sub-select-nationality form-control" ng-model="subSelectProfile" ng-options="x for x in subSelectOptions"></select>
            </div>
            <div ng-if="edit" id="edit-veiw" class="edit-view" >
                <form  novalidate>
                    <formly-form ng-disabled="true" model="vm.profileModel" fields="vm.profileFields" options="vm.options">
                    </formly-form>
                      <button class="btn btn-danger" ng-click="goToPrepareIp()">Unlock profile</button>
                </form>

            </div>
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form" ng-submit="createIp(ip)">
                    <div class="form-group">
                        <label>Status note</label>
                        <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                            <option value="" selected="selected" disabled>select one</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Signature</label>
                        <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-model="approvedToCreate">Approved to create</input>
                        </label>
                    </div>
                    <button type="submit" ng-disabled="!approvedToCreate" class="btn btn-info submit-button">Create IP</button>
                </form>
            </div>


        </div>
    </div>
</body>
