<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_prepare_ip.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <!--Angular Scripts -->
        <!--App -->
        <!--Controllers-->
    </head>
    <body>
        <div>
            <div ng-include src="'static/frontend/views/sub_menu.html'"></div>
            <div class="content-wrapper">
                <div class="list-view">
                    <table st-table="archiveObjectsCollection" st-safe-src="archiveObjectsRowCollection" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="label" class="column-label">Label</th>
                                <th st-sort="content" class="column-label">Content</th>
                                <th st-sort="responsible" class="column-label">Responsible</th>
                                <th st-sort="date" class="column-label">Date</th>
                                <th st-sort="state" class="column-label">State</th>
                                <th st-sort="state" class="column-label">Events</th>
                                <th st-sort="status" class="column-label">Status</th>
                            </tr>
                            <tr>
                                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="row in archiveObjectsCollection" class="table-item">
                                <td class="clickable" ng-click="archiveTableClick(row)">{{row.label}}</td>
                                <td class="clickable" ng-click="archiveTableClick(row)">{{row.ObjectUUID}}</td>
                                <td>{{'user'}}</td>
                                <td>{{'time created'}}</td>
                                <td class="clickable" ng-click="stateClicked(row)"><a href="">{{'state'}}</a></td>
                                <td class="clickable" ng-click="eventsClick(row)"><a href="">{{'Events'}}</a></td>
                                <td>
                                    <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{row.progress}}</b></uib-progressbar>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="list-view-buttons">
                        <button type="button" ng-click="toggleSelectView()" class="btn btn-default">Show/hide select view</button>
                        <button ng-click="toggleEditView()" type="button" class="btn btn-default">Show/hide edit view</button>
                        <button type="button" ng-click="toggleSubSelectView()" class="btn btn-default">Show/hide sub select view</button>
                        <button type="button" ng-click="toggleEventlogView()" class="btn btn-default">Show/hide sub eventlog view</button>
                    </div>
                </div>
                <div class="select-sub-edit-eventlog-wrapper">
                    <div ng-show="eventShow" class="event-view">
                        <p>Events associated to: {{archive.label}}</p>
                        <ul ng-repeat="event in eventCollection">
                            <li>
                                {{event.id}}
                            </li>
                                {{event.eventDetail}}</br>
                                {{event.eventDateTime}}
                        </ul>

                    </div>
                    <div ng-show="statusShow" class="status-view">
                        <p>{{archive.label}}</p>
                    <table st-table="stepsCollection" st-safe-src="parentStepsRowCollection" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="label" class="column-label">Label</th>
                                <th st-sort="responsible" class="column-label">Responsible</th>
                                <th st-sort="date" class="column-label">Date</th>
                                <th st-sort="state" class="column-label">State</th>
                                <th st-sort="status" class="column-label">Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr st-select-row="row" ng-repeat-start="row in stepsCollection">
                                <td><a href="" ng-click="toggleCollapse(row)">{{row.name}}</a></td>
                                <td>{{row.user}}</td>
                                <td>{{row.time_created}}</td>
                                <td>{{row.status}}</td>
                                <td>
                                    <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{row.progress}}</b></uib-progressbar>

                                </td>
                            </tr>
                                <tr ng-repeat-end="">
                                    <td colspan="5">
                                        <div class="child-step-list" uib-collapse="row.isCollapsed">
                                            <table class="table table-striped">
                                                <tr ng-repeat="step in row.child_steps">
                                                    <td>{{step.url}}</td>
                                                    <td>{{step.name}}</td>
                                                    <td>
                                                        <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{step.progress}}</b></uib-progressbar>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    <div class="tasks-list" uib-collapse="row.isCollapsed">
                                        <table class="table table-striped">
                                        <tr ng-repeat="task in row.taskObjects">
                                            <td>{{task.url}}</td>
                                            <td>{{task.name}}</td>
                                            <td>
                                                <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{task.progress}}</b></uib-progressbar>
                                            </td>
                                        </tr>
                                        </table>
                                    </div>
                                    </td>

                                </tr>
                        </tbody>
                    </table>

                    </div>
                    <div ng-show="select" class="select-view">
                        <p>{{archive.label}}</p>
                        <table st-table="selectCollection" st-safe-src="selectRowCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="column-entity">Entity</th>
                                    <th class="column-profile">Profile</th>
                                    <th class="column-state">State</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="row in selectCollection">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkBox" checked="checked"><a ng-click="profileClick(row)">{{row.entity}}</a></input>
                                            </label>
                                        </div>
                                    </td>
                                    <td><select class="form-control"ng-init="newprofile" ng-model="row.profile" ng-options="x for x in row.profiles"><option value="" selected="selected">new profile</option></select></td>
                                    <td>{{row.state}}</td>
                                </tr>
                                <a ng-click="showHideAllProfiles()">Show/hide profiles</a>
                            </tbody>
                        </table>

                    </div>
                    <div ng-show="subSelect" class="sub-select-view">
                        {{selectProfile.entity}}
                        <select class="sub-select-profile form-control" ng-model="selectProfile.profile" ng-options="x for x in selectProfile.profiles"></select>
                        <select class="sub-select-agreement form-control" ng-model="subSelectProfile" ng-options="x.display_name for x in subSelectOptions"></select>
                        <select class="sub-select-nationality form-control" ng-model="subSelectProfile" ng-options="x.display_name for x in subSelectOptions"></select>
                    </div>
                    <div ng-show="edit" id="edit-veiw" class="edit-view" >
                        <form ng-submit="vm.onSubmit()" novalidate>
                            <formly-form model="vm.archivistOrganisationModel" fields="vm.archivistOrganisationFields" options="vm.options">
                            </formly-form>
                        <formly-form model="vm.creatorOrganisationModel" fields="vm.creatorOrganisationFields">
                        </formly-form>
                        <formly-form model="vm.producerOrganisationModel" fields="vm.producerOrganisationFields">
                        </formly-form>
                        <formly-form model="vm.ipOwnerOrganisationModel" fields="vm.ipOwnerOrganisationFields">
                        </formly-form>
                        <formly-form model="vm.editorOrganisationModel" fields="vm.editorOrganisationFields">
                        </formly-form>
                        <formly-form model="vm.preservationOrganisationModel" fields="vm.preservationOrganisationFields">
                        </formly-form>
                        <p>{{vm.archivistOrganisation}}</p>
                        </form>
                    </div>
                    <div  ng-show="eventlog" ng-show="eventlog" class="eventlog-view">
                        <div class="form-group">
                            <label>Status note</label>
                            <select class="status-note form-control" ng-model="exampledata" ng-options="x for x in exampleSelectData"></select>
                        </div>
                        <div class="form-group">
                            <label>Signature</label>
                            <input class="signature form-control" id="signature"></input>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkBox" ng-model="approvedToCreate">Approved to create</input>
                            </label>
                        </div>
                        <button type="submit" ng-disabled="!approvedToCreate"ng-click="vm.onSubmit()" class="btn btn-info submit-button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
