<p>{{ip.Label}}</p>
<div ng-if="ip.steps.length != 0" class="child-tree" ng-include="'tree_template.html'"></div>

<tree-grid col-defs="col_defs" tree-data="tree_data" tree-control="myTreeControl" expand-on="expanding_property" icon-leaf="glyphicon glyphicon-flash" icon-expand="glyphicon glyphicon-plus" icon-collapse="glyphicon glyphicon-minus"></tree-grid>

<script type="text/ng-template" id="tree_template.html">
<treecontrol class="tree-light"
    tree-model="parentStepsRowCollection"
    options="treeOptions"
    on-selection="showSelected(node)"
    selected-node="node1">
    {{node.name}}, {{node.status}}, {{node.progress}}, {{node.user}}
    <a ng-click="node.tasksCollapsed = !node.tasksCollapsed">tasks: {{node.taskObjects.length}}</a>
    <ul uib-collapse="node.tasksCollapsed"ng-repeat="task in node.taskObjects">
        <li>{{task.name}}</li>
    </ul>
/treecontrol>
</script>
