<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_ip_approval.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/submit_sip_prepare_sip.css">
    </head>
    <body>
        <div class="content-wrapper">
            <div class="list-view">
                <table st-table="ipCollection" st-safe-src="ipRowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <tr>
                                <th colspan="5">
                                    <div class="search-prepare-wrapper">
                                        <input st-search="" class="form-control" placeholder="global search ..." type="text"/>
                                    </div>
                                </th>
                            </tr>
                            <th class="clickable" st-sort="label" class="column-label">Label</th>
                            <th class="clickable" st-sort="responsible" class="column-label">Responsible</th>
                            <th class="clickable" st-sort="date" class="column-label">Date</th>
                            <th class="clickable" st-sort="state" class="column-label">State</th>
                            <th class="clickable"st-sort="state" class="column-label">Events</th>
                            <th class="clickable" st-sort="status" class="column-label">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" ng-repeat="row in ipCollection" class="table-item">
                            <td class="clickable" ng-click="ipTableClick(row)">{{row.Label}}</td>
                            <td>{{row.Responsible}}</td>
                            <td>{{row.CreateDate | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                            <td class="clickable" ng-click="stateClicked(row)"><a href="">{{row.State}}</a></td>
                            <td class="clickable" ng-click="eventsClick(row)"><a href="">{{'Events'}}</a></td>
                            <td>
                                <uib-progressbar class="progress active" value="row.status" type="success"><b>{{row.status}}%</b></uib-progressbar>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="eventShow || statusShow" class="events-status-wrapper">
                <div ng-if="eventShow" class="event-view">
                    <p>Events associated to: {{ip.Label}}</p>
                    <div ng-controller="pipeCtrl as mc" class="table-container">
                        <table st-table="mc.displayed" st-pipe="mc.callServer" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="clickable" st-sort="id">Id</th>
                                    <th class="clickable" st-sort="eventDetail">Event detail</th>
                                    <th class="clickable" st-sort="eventDateTime">Event Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in mc.displayed">
                                    <td>{{row.id}}</td>
                                    <td>{{row.eventDetail}}</td>
                                    <td>{{row.eventDateTime | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="pagination.number" st-displayed-pages="7"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-if="eventShow" class="events-footer">
                <form class="events-form" ng-submit="addEvent(ip, statusNote, signature)">
                    <div class="form-group">
                        <label>Event type</label>
                        <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                            <option value="" selected="selected" disabled>select one</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Signature</label>
                        <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                    </div>
                    <button type="submit" class="btn btn-info submit-button">Add event</button>
                </form>
            </div>
            <div ng-if="statusShow" class="status-view">
                <p>{{ip.Label}}</p>
                <div ng-if="ip.steps.length != 0" class="child-tree" ng-include="'tree_template.html'"></div>

                <tree-grid col-defs="col_defs" tree-data="tree_data" tree-control="myTreeControl" expand-on="expanding_property" icon-leaf="glyphicon glyphicon-flash" icon-expand="glyphicon glyphicon-plus" icon-collapse="glyphicon glyphicon-minus"></tree-grid>

                <script type="text/ng-template" id="tree_template.html">
<treecontrol class="tree-light"
                                     tree-model="parentStepsRowCollection"
                                     options="treeOptions"
                                     on-selection="showSelected(node)"
                                     selected-node="node1">
                        {{node.name}}, {{node.status}}, {{node.progress}}, {{node.user}}
                        <a ng-click="node.tasksCollapsed = !node.tasksCollapsed">tasks: {{node.taskObjects.length}}</a>
                        <ul uib-collapse="node.tasksCollapsed"ng-repeat="task in node.taskObjects">
                            <li>{{task.name}}</li>
                        </ul>
                        </treecontrol>
                    </script>
                </div>
            </div>
            <div ng-if="select || subSelect || edit || eventlog" class="select-sub-edit-eventlog-wrapper">
                <div ng-if="edit" id="edit-veiw" class="edit-view" >
                    <div class="package-information">
                        <p> Package Information</p>
                        <form  novalidate>
                        <formly-form model="vm.informationModel" fields="vm.informationFields" options="vm.options">
                            </formly-form>
                        </form>
                    </div>
                    <div class="package-dependencies">
                        <p> Package dependencies</p>
                        <form  novalidate>
                            <formly-form model="vm.dependencyModel" fields="vm.dependencyFields" options="vm.options">
                            </formly-form>
                        </form>
                        <div class="static-form">
                        <form  novalidate>
                            <formly-form model="vm.profileModel" fields="vm.profileFields" options="vm.options">
                            </formly-form>
                        </form>
                        </div>
                    </div>
                    <div class="file-list">
                        <table st-table="fileListRowCollection" st-safe-src="fileListCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="clickable" st-sort="filename">File name</th>
                                    <th class="clickable" st-sort="created">Created</th>
                                    <th class="clickable" st-sort="size">Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in fileListRowCollection">
                                    <td>{{row.filename}}</td>
                                    <td>{{row.created | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                                    <td>{{row.size}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-if="eventlog" class="eventlog-view">
                    <form class="submit-sip-eventlog-form" ng-submit="saveModal()">
                        <div class="form-group">
                            <label>Status note</label>
                            <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                                <option value="" selected="selected" disabled>select one</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Signature</label>
                            <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="approvedToSubmit">Approved to Submit</input>
                            </label>
                        </div>
                        <button ng-disabled="!approvedToSubmit"type="submit" class="btn btn-info submit-button">Submit SIP</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
