<html>
    <body>
        <div class="prepare-ip">
            <div class="content-wrapper">
                <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">
                </div>
                <div ng-if="eventShow || statusShow" class="events-status-wrapper">
                    <event-table ng-if="eventShow" ip="ip"></event-table>
                    <div ng-if="statusShow" class="status-view">
                        <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
                    </div>
                </div>
                <div ng-if="filebrowser" class="file-browser" ng-controller="FilebrowserController" ng-include src="'static/frontend/views/filebrowser.html'"></div>
                <div ng-if="select || subSelect || edit || eventlog" id="select-wrap" class="select-sub-edit-eventlog-wrapper">
                    <profile-editor ng-if="select" ip="ip"></profile-editor>
                    <div ng-if="eventlog && ip.state != 'Prepared'" class="eventlog-view">
                        <div uib-alert ng-if="prepareAlert" ng-class="'alert-danger'" close="closePrepareAlert()">{{prepareAlert.msg | translate}}</div>
                        <div class="eventlog-form">
                            <button ng-click="vm.prepareIpForUploadModal(ip)" type="button" class="btn btn-info submit-button" ng-disabled="!ip.submission_agreement_locked">{{'PREPARE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
