<body>
    <div class="ip-approval">
        <div class="content-wrapper">
            <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">
            </div>
            <div ng-if="statusShow || eventShow" class="events-status-wrapper">
                <event-table ng-if="eventShow" ip="ip"></event-table>
                <div ng-if="statusShow" class="status-view">
                    <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
                </div>
            </div>
            <div ng-if="filebrowser" class="file-browser" ng-controller="FilebrowserController" ng-include src="'static/frontend/views/filebrowser.html'"></div>
            <div ng-if="select || subSelect || edit || eventlog" id="select-wrap" class="select-sub-edit-eventlog-wrapper">
                <profile-editor ng-if="select" ip="ip" disabled="true"></profile-editor>
                <div ng-if="select" id="edit-view" class="edit-view" >
                    <div ng-include src="'static/frontend/views/validator_choices.html'"></div>
                    <div ng-include src="'static/frontend/views/file_conversion.html'"></div>
                </div>
                <div ng-if="eventlog" class="eventlog-view">
                    <form ng-submit="createSip(ip)" class="eventlog-form">
                        <div class="checkbox">
                            <label>
                                <input type="checkBox" ng-disabled="(ip.responsible.id != auth.id && !checkPermission('ip.create_sip')) || ip.state != 'Uploaded'" ng-model="approvedToCreate">{{'APPROVEDTOCREATE' | translate}}</input>
                            </label>
                        </div>
                        <button type="submit" ng-dblClick="" ng-disabled=" ip.state != 'Uploaded' || createDisabled || !approvedToCreate || !ip.submission_agreement_locked || ip.state=='Created' || (ip.responsible.id != auth.id && !checkPermission('ip.create_sip'))" class="btn btn-info submit-button">{{'CREATESIP' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
