<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_prepare_ip.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <!--Angular Scripts -->
        <!--App -->
        <!--Controllers-->
    </head>
    <body>
        <div>
            <div ng-include src="'static/frontend/views/sub_menu.html'"></div>
            <div class="content-wrapper">
                <div class="list-view">
                    <table st-table="ipCollection" st-safe-src="ipRowCollection" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="label" class="column-label">Label</th>
                                <th st-sort="content" class="column-label">Content</th>
                                <th st-sort="responsible" class="column-label">Responsible</th>
                                <th st-sort="date" class="column-label">Date</th>
                                <th st-sort="state" class="column-label">State</th>
                                <th st-sort="state" class="column-label">Events</th>
                                <th st-sort="status" class="column-label">Status</th>
                            </tr>
                            <tr>
                                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="row in ipCollection" class="table-item">
                                <td class="clickable" ng-click="ipTableClick(row)">{{row.Label}}</td>
                                <td class="clickable" ng-click="ipTableClick(row)">{{row.ObjectUUID}}</td>
                                <td>{{row.Responsible}}</td>
                                <td>{{row.CreateDate}}</td>
                                <td class="clickable" ng-click="stateClicked(row)"><a href="">{{row.State}}</a></td>
                                <td class="clickable" ng-click="eventsClick(row)"><a href="">{{'Events'}}</a></td>
                                <td>
                                    <uib-progressbar class="progress-striped active" animate="true" value="row.status" type="success"><b>{{row.Status}}</b></uib-progressbar>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="list-view-buttons">
                        <button type="button" ng-click="toggleSelectView()" class="btn btn-default">Show/hide select view</button>
                        <button ng-click="toggleEditView()" type="button" class="btn btn-default">Show/hide edit view</button>
                        <button type="button" ng-click="toggleSubSelectView()" class="btn btn-default">Show/hide sub select view</button>
                        <button type="button" ng-click="toggleEventlogView()" class="btn btn-default">Show/hide sub eventlog view</button>
                    </div>
                </div>
                <div class="select-sub-edit-eventlog-wrapper">
                    <div ng-show="eventShow" class="event-view">
                        <p>Events associated to: {{ip.Label}}</p>
                        <ul ng-repeat="event in eventCollection">
                            <li>
                            {{event.id}}
                            </li>
                            {{event.detail}}</br>
                            {{event.dateTime}}
                        </ul>

                    </div>

                    <script type="text/ng-template" id="child_step_template.html">
                                        <div class="child-step-list">
                                        <tr ng-repeat="step in step.child_steps" ng-include="'child_step_template.html'">
                                        <td><a ng-click="toggleCollapse(step)">{{step.url}}</a></td>
                                        <td>{{step.name}}</td>
                                        <td>
                                        <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{step.progress}}</b></uib-progressbar>
                                        </td>
                                        </tr>
                                        </div>
                    </script>


                    <script type="text/ng-template" id="task_template.html">
                                        <div class="tasks-list" uib-collapse="step.isCollapsed">
                                            <td>{{task.url}}</td>
                                            <td>{{task.name}}</td>
                                            <td>
                                                <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{task.progress}}</b></uib-progressbar>
                                            </td>
                                        <tr ng-repeat="task in tasks">
                                            </tr>
                                            </div>
                    </script>


                    <div ng-show="statusShow" class="status-view">
                        <p>{{ip.Label}}</p>
                        <div ng-if="ip.steps.length != 0" class="child-tree" ng-include="'tree_template.html'"></div>
                        <!--
                        <table st-table="stepsCollection" st-safe-src="parentStepsRowCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="label" class="column-label">Label</th>
                                    <th st-sort="responsible" class="column-label">Responsible</th>
                                    <th st-sort="date" class="column-label">Date</th>
                                    <th st-sort="state" class="column-label">State</th>
                                    <th st-sort="status" class="column-label">Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr st-select-row="row" ng-repeat-start="row in stepsCollection">
                                    <td><a ng-click="toggleCollapse(row)">{{row.name}}</a></td>
                                    <td>{{row.user}}</td>
                                    <td>{{row.time_created}}</td>
                                    <td>{{row.status}}</td>
                                    <td>
                                        <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{row.progress}}</b></uib-progressbar>

                                    </td>
                                </tr>
                                <tr ng-repeat-end="">
                                    <td colspan="5">

                                        <div class="child-step-list" uib-collapse="row.isCollapsed">
                                            <table class="table table-striped">
                                                <tr ng-if="row.child_steps" ng-repeat="step in row.child_steps" ng-include="'tree_template.html'"></tr>

                                            </table>
                                        </div>
                                    </td>

                                    </tr>
                            </tbody>
                        </table>
                        -->
                        <!-- EXAMPLE OF WHAT SHOULD BE DONE ABOVE IN TABLE BUT IN <UL> LIST INSTEAD OF TABLE-->
                        <script type="text/ng-template" id="test_template.html">
                        {{step.name}}
                        </br>
                        {{step.status}}
                        <ul ng-if="step.child_steps">
                            <li ng-repeat="step in step.child_steps" ng-include="'test_template.html'">
                            </li>
                            <ul ng-if="step.taskObjects">
                                <li ng-repeat="task in step.taskObjects" ng-include"'test_template.html'">{{task.name}}</li>
                            </ul>
                        </ul>
                        </script>
                        <!--
                            <ul>
                            <li ng-repeat="step in parentStepsRowCollection" ng-include="'test_template.html'"></li>
                            </ul>
                        -->
                        <script type="text/ng-template" id="tree_template.html">
                        <treecontrol class="tree-light"
                                     tree-model="parentStepsRowCollection"
                                     options="treeOptions"
                                     on-selection="showSelected(node)"
                                     selected-node="node1">
                        {{node.name}}, {{node.status}}, {{node.progress}}, {{node.user}}
                        <a ng-click="node.tasksCollapsed = !node.tasksCollapsed">tasks: {{node.taskObjects.length}}</a>
                        <ul uib-collapse="node.tasksCollapsed"ng-repeat="task in node.taskObjects">
                            <li>{{task.name}}</li>
                        </ul>
                        </treecontrol>
                        </script>

                    <!-- END OF EXAMPLE-->
                                    </div>
                                    <div ng-show="select" class="select-view">
                                        <p>{{ip.Label}}</p>
                                        <table st-table="selectCollection" st-safe-src="selectRowCollapse" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="column-entity">Entity</th>
                                    <th class="column-profile">Profile</th>
                                    <th class="column-state">State</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkBox" checked="checked"><a ng-click="profileClick(currentSa)">{{saProfile.entity}}</a></input>
                                            </label>
                                        </div>
                                    </td>
                                    <td><select class="form-control" ng-model="currentSa" ng-change="getSelectCollection(currentSa)" ng-options="x as x.sa_name for x in saProfile.profiles"></select></td>
                                    <td>{{currentSa.sa_status}}</td>
                                    <a ng-click="showHideAllProfiles()">Show/hide profiles</a>
                                </tr>

                                <tr uib-collapse="!profilesCollapse" ng-repeat="row in selectCollection">
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkBox" checked="checked"><a ng-click="profileClick(row)">{{row.profile_label}}</a></input>
                                            </label>
                                        </div>
                                    </td>
                                    <td><select class="form-control" ng-init="row.profile" ng-model="row.profile" ng-options="x as x.name for x in row.profiles" ng-change="changeProfile(row.profile)"></select></td>
                                    <td>{{row.profile.status}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div ng-show="subSelect" class="sub-select-view">
                        {{selectProfile.entity}}
                        <select class="sub-select-profile form-control" ng-model="selectProfile.profile" ng-options="x as x.name for x in selectProfile.profiles"></select>
                        <select class="sub-select-agreement form-control" ng-model="subSelectProfile" ng-options="x.display_name for x in subSelectOptions"></select>
                        <select class="sub-select-nationality form-control" ng-model="subSelectProfile" ng-options="x.display_name for x in subSelectOptions"></select>
                    </div>
                    <div ng-show="edit" id="edit-veiw" class="edit-view" >
                        <form ng-submit="vm.onSubmit()" novalidate>
                        <formly-form model="vm.profileModel" fields="vm.profileFields" options="vm.options">
                            </formly-form>
                        </form>
                    </div>
                    <div  ng-show="eventlog" ng-show="eventlog" class="eventlog-view">
                        <form class="eventlog-form" ng-submit="vm.onSubmit()">
                        <div class="form-group">
                            <label>Status note</label>
                            <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                                <option value="" selected="selected" disabled>select one</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Signature</label>
                            <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkBox" ng-model="approvedToCreate" ng-click="toggleIpText()">Approved to create</input>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-info submit-button">{{ipSubmitText}}</button>
                    </div>
                        </form>
                </div>
            </div>
        </div>
    </body>
</html>
