<head>
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_ip_approval.css">
</head>
<body>
    <div class="content-wrapper">
        <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'"></div>
        <div ng-if="statusShow || eventShow" class="events-status-wrapper">
            <div ng-include src="'static/frontend/views/event_table.html'"></div>
            <div ng-if="statusShow" class="status-view">
                <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
            </div>
        </div>
        <div ng-if="select || subSelect || edit || eventlog" class="select-sub-edit-eventlog-wrapper">
            <div ng-if="select" class="select-view">
                <b>IP: </b>{{ip.Label}}
                <div class="file-explorer">
                    <div class="file-explorer-nav">
                        <li ng-class="{'arrow-disabled': previousGridArrays.length == 0}" class="fa fa-arrow-circle-o-left fa-2x clickable" ng-click="previousGridArray()"></li>
                        <b class="dir-path">{{ip.id + '/' + previousGridArraysString()}}</b>
                    </div>
                    <div class="grid-info-wrapper">
                        <div deckgrid source="deckGridData" cardTemplate="static/frontend/views/deckgrid_card.html" class="deckgrid"></div>
                        <div ng-if="selectedCard != null" class="card-info">
                            <b>{{'NAME' | translate}}:</b> {{selectedCard.name}}<br>
                            <b>{{'TYPE' | translate}}:</b> {{selectedCard.type}}
                        </div>
                    </div>
                </div>
                <div ng-include src="'static/frontend/views/file_upload.html'"></div>
            </div>
            <div ng-if="eventlog" class="eventlog-view">
                <form class="eventlog-form" ng-submit="setUploaded(ip)">
                    <div class="checkbox">
                        <label>
                            <input type="checkBox" ng-model="completedUploading">{{'COMPLETEDUPLOADING' | translate}}</input>
                        </label>
                    </div>
                    <button class="btn btn-info submit-button" ng-disabled="!completedUploading" type="submit" style="float: right;">{{'DONE' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</body>
