<div class="enter-profile-name">
    <h3 class="modal-title" id="modal-title">{{'CREATESIP' | translate}}</h3>
</div>
<form ng-submit="$ctrl.createSip()">
    <div class="modal-body" id="modal-body">
        {{'CREATE_SIP_DESC' | translate:ip}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.createSip()" focused="true">{{'CREATESIP' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
    </div>
</form>
