<head>
    <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_ip_approval.css">
    <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
    <!--Angular Scripts -->
    <!--App -->
    <!--Controllers-->
</head>
<body>
    <div ng-include src="'static/frontend/views/sub_menu.html'"></div>
    <div class="content-wrapper">
        <div class="list-view">
            <table st-table="archiveObjectsCollection" st-safe-src="archiveObjectsRowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="label" class="column-label">Label</th>
                        <th st-sort="content" class="column-label">Content</th>
                        <th st-sort="responsible" class="column-label">Responsible</th>
                        <th st-sort="date" class="column-label">Date</th>
                        <th st-sort="state" class="column-label">State</th>
                        <th st-sort="status" class="column-label">Status</th>
                    </tr>
                    <tr>
                        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" ng-repeat="row in archiveObjectsCollection" class="table-item">
                        <td class="clickable" ng-click="archiveTableClick()">{{row.label}}</td>
                        <td class="clickable" ng-click="archiveTableClick()">{{row.ObjectUUID}}</td>
                        <td>{{'user'}}</td>
                        <td>{{'time created'}}</td>
                        <td>{{'state'}}</td>
                        <td>
                            <uib-progressbar class="progress-striped active" animate="true" value="row.progress" type="success"><b>{{row.progress}}</b></uib-progressbar>

                        </td>
                    </tr>
                </tbody>
            </table>
            <p ng-model="chosenIp">{{chosenIp}}</p>
        </div>
    </div>
</body>
