<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_prepare_ip.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <!--Angular Scripts -->
        <!--App -->
        <!--Controllers-->
    </head>
    <body>
        <div>
            <div class="content-wrapper">
                <div class="list-view" ng-include src="'static/frontend/views/list_view_table.html'">

                    <!--<div class="list-view-buttons">
                        <button type="button" ng-click="toggleSelectView()" class="btn btn-default">Show/hide select view</button>
                        <button type="button" ng-click="toggleEditView()" class="btn btn-default">Show/hide edit view</button>
                        <button type="button" ng-click="toggleSubSelectView()" class="btn btn-default">Show/hide sub select view</button>
                        <button type="button" ng-click="toggleEventlogView()" class="btn btn-default">Show/hide sub eventlog view</button>
                    </div>-->
                </div>
                <div ng-if="eventShow || statusShow" class="events-status-wrapper">
                    <div ng-include src="'static/frontend/views/event_table.html'"></div>
                    <div ng-if="statusShow" class="status-view">
                    <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
                    </div>
                </div>
                <div ng-if="select || subSelect || edit || eventlog" class="select-sub-edit-eventlog-wrapper">
                    <div ng-if="select" class="select-view">
                    <table st-table="selectCollection" st-skip-natural="true" st-safe-src="selectRowCollapse" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="info-popover column-enabled"><p uib-popover="{{'ENABLEDDESC' | translate}}" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{'ENABLED' | translate}}</p></th>
                                    <th class="info-popover column-entity"><p uib-popover="{{'ENTITYDESC' | translate}}" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{'ENTITY' | translate}}</p></th>
                                    <th class="info-popover column-profile"><p uib-popover="{{'PROFILEDESC' | translate}}" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{'PROFILE' | translate}}</p></th>
                                    <th class="info-popover column-state"><p uib-popover="{{'STATEDESC' | translate}}" popover-trigger="mouseenter" popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{'STATE' | translate}}</p></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox table-col">
                                            <label>
                                                <input type="checkBox" ng-disabled="true" checked="checked"></input>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="table-col"><p>{{'SUBMISSION_AGREEMENT'}}</p></a>
                                    </td>
                                    <td><select class="form-control table-col" ng-model="saProfile.profile" ng-change="changeSaProfile(saProfile.profile, ip); getSelectCollection(saProfile.profile, ip)" ng-options="x as x.sa_name for x in saProfile.profiles"></select></td>
                                    <td><p class="table-col">{{}}</p></td>
                                    <a ng-if="saProfile.profile" ng-click="showHideAllProfiles()">{{'SHOWHIDEPROFILES' | translate}}</a>
                                </tr>

                                <tr uib-collapse="!profilesCollapse" ng-repeat="row in selectCollection">
                                    <td>
                                        <div class="checkbox table-col">
                                            <label>
                                                <input type="checkBox" ng-disabled="row.locked" ng-model="row.checked" ng-change="updateIncludedProfiles(row)"></input>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="table-col" ng-disabled="row.locked" ng-click="profileClickCondition(row)">{{row.profile_label}}</a>
                                    </td>
                                    <td><select class="form-control table-col" ng-disabled="row.locked" ng-init="row.profile" ng-model="row.profile" ng-options="x as x.name for x in row.profiles" ng-change="changeProfile(row.profile)"></select></td>
                                    <td><p class="table-col" style="background-color: red; font-size: 14px;">{{row.locked?('LOCKED' | translate):''}}</p></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div ng-if="subSelect" class="sub-select-view">
                        {{selectProfile.entity}}
                        <select class="sub-select-profile form-control" ng-model="selectProfile.profile" ng-options="x as x.name for x in selectProfile.profiles"></select>
                        <select class="sub-select-agreement form-control" ng-model="subSelectProfile" ng-options="x.display_name for x in subSelectOptions"></select>
                        <select class="sub-select-nationality form-control" ng-model="subSelectProfile" ng-options="x.display_name for x in subSelectOptions"></select>
                    </div>
                    <div ng-if="edit" id="edit-veiw" class="edit-view" >
                        <form  novalidate>
                            <formly-form model="vm.profileModel" fields="vm.profileFields" options="vm.options">
                            </formly-form>
                        </form>
                        <div ng-include src="'static/frontend/views/map_structure_tree.html'"></div>
                    </div>
                    <div ng-if="eventlog" class="eventlog-view">
                        <form class="eventlog-form" ng-submit="saveModal()">
                           <!-- <div class="form-group">
                                <label>Status note</label>
                                <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                                    <option value="" selected="selected" disabled>select one</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Signature</label>
                                <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                            </div>-->
                            <button type="submit" class="btn btn-info submit-button">{{'SAVEPROFILE' | translate}}</button>
                            <button type="button" ng-click="lockProfileModal()" class="btn btn-info submit-button">{{'LOCKPROFILE' | translate}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
