<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_prepare_ip.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <!--Angular Scripts -->
        <!--App -->
        <!--Controllers-->
    </head>
    <body>
        <div>
            <!--<div ng-include src="'static/frontend/views/sub_menu.html'"></div>-->
            <div ui-view></div>
        </div>
    </body>
</html>

