<div st-table="vm.displayedIps" st-pipe="vm.callServer" >
    <div class="search-prepare-wrapper">
        <label for items-per-page></label>
        <select id="items-per-page" ng-change="updateIpsPerPage(vm.itemsPerPage)" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.itemsPerPage" ng-options="x for x in [5,10,20,25,50]" uib-popover="{{'ITEMSPERPAGE' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true"></select>
        <input st-search="" style="width: 50%;" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text" uib-popover="{{'GLOBALSEARCHDESC' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true" />
        <button ng-if="'home.createSip.prepareIp' | isState" type="button" ng-click="newIpModal()" class="btn btn-info" uib-popover="{{'PREPAREIPDESC' | translate}}"  popover-placement="top-left" popover-popup-delay="500" popover-append-to-body="true">{{'PREPAREIP' | translate}}</button>
        <span ng-click="getListViewData()" class="clickable fa fa-refresh fa-lg" ng-class="{'fa-refresh-animate': ipLoading }" uib-popover="{{'REFRESHTABLEDESC' | translate}}"  popover-placement="left" popover-popup-delay="500" popover-append-to-body="true"></span>
    </div>
    <div id="list-view" class="list-view-table">
        <table class="table table-striped" style="margin-bottom: 0px;">
            <thead>
                <tr>
                    <th ng-if="!(('home.createSip.collectContent' | isState) && col.label == 'filebrowser')" class="clickable" class="column-label" st-sort="{{col.sortString}}" st-sort-default="{{col.sortString == 'create_date'? 'reverse' : ''}}" ng-repeat="col in listViewColumns"><span ng-hide="col.label=='step_state'">{{col.label.toUpperCase() | translate}}</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in vm.displayedIps" ng-class="{'selected': ip.object_identifier_value == row.object_identifier_value}" class="table-item">
                    <td ng-repeat="col in listViewColumns"  ng-if="!(('home.createSip.collectContent' | isState) && col.label == 'filebrowser')">
                        <div ng-include src="col.template"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <td ng-show="!initLoad">
        <div class="text-center" st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
    </td>
</div>