<div class="list-view-table">
    <table st-table="vm.displayedIps" st-pipe="vm.callServer" class="table table-striped">
        <thead>
            <tr>
                <th colspan="{{colspan-2}}">
                    <div class="search-prepare-wrapper">
                        <label for items-per-page></label>
                        <select id="items-per-page" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.itemsPerPage" ng-options="x for x in [5,10,20,25,50]"></select>
                        <input st-search="" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text"/>
                        <button ng-if="'home.createSip.prepareIp' | isState" type="button" ng-click="newIpModal()" class="btn btn-info">{{'PREPAREIP' | translate}}</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th class="clickable" st-sort="Label" class="column-label">{{'LABEL' | translate}}</th>
                <th class="clickable" st-sort="Responsible" class="column-label">{{'RESPONSIBLE' | translate}}</th>
                <th class="clickable" st-sort="CreateDate" st-sort-default="reverse" class="column-label">{{'DATE' | translate}}</th>
                <th class="clickable" st-sort="State" class="column-label">{{'STATE' | translate}}</th>
                <th class="clickable" class="column-label">{{'EVENTS' | translate}}</th>
                <th class="clickable" class="column-label">{{'STATUS' | translate}}</th>
                <th ng-if="'home.createSip.prepareIp' | isState" class="clickable" st-sort="Delete" class="column-label">{{'DELETE' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="row.class" ng-repeat="row in vm.displayedIps" class="table-item">
                <td class="clickable" ng-click="ipTableClick(row);selectIp(row)">{{row.Label}}</td>
                <td class="clickable" ng-click="ipRowClick(row)">{{row.Responsible}}</td>
                <td class="clickable" ng-click="ipRowClick(row)">{{row.CreateDate | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td class="clickable" ng-click="stateClicked(row);selectIp(row)"><a href="">{{row.State}}</a></td>
                <td class="clickable" ng-click="eventsClick(row);selectIp(row)"><a href="">{{'EVENTS' | translate}}</a></td>
                <td>
                    <uib-progressbar class="progress" value="row.status" type="success"><b>{{row.status | number : 0}}%</b></uib-progressbar>
                </td>
                <td ng-click="ipRowClick(row)">
                    <button ng-if="'home.createSip.prepareIp' | isState" ng-click="removeIpModal(row)" class="glyphicon glyphicon-remove"></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{colspan}}" class="text-center">
                    <div st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
