<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/my_page.css">
        <!--Angular Scripts -->
    </head>
    <body>
        <div>
            <div class="sub-menu">
                <!-- <button type="button" class="btn-primary btn-lg">Action</button>-->

            </div>
            </br>
            My page section
        </div>
    </body>
</html>
