<div class="enter-profile-name">
    <h3 class="modal-title" id="modal-title">{{'PREPARE_IP' | translate}}</h3>
</div>
<form ng-submit="$ctrl.prepareForUpload()">
    <div class="modal-body" id="modal-body">
        {{'PREPARE_IP_DESC' | translate:ip}}
        <div uib-alert ng-if="prepareAlert" ng-class="'alert-danger'" close="closePrepareAlert()">{{prepareAlert.msg | translate}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" focused="true" ng-click="$ctrl.prepareForUpload($ctrl.data.ip)" ng-disabled="$ctrl.preparing">{{'PREPARE' | translate}} <i ng-if="$ctrl.preparing" class="fas fa-spinner fa-spin"/></button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.preparing">{{'CANCEL' | translate}}</button>
    </div>
</form>
