<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/receive_sip.css">
        <!--Angular Scripts -->
    </head>
    <body>
        <div>
            <div ng-include src="'static/frontend/views/receive_sip_sub_menu.html'"></div>
            <div ui-view></div>
        </div>
    </body>
</html>
