<div class="sub-menu">
    <button ui-sref="home.receiveSip.reception" type="button" class="btn-primary btn-lg">{{'RECEPTION' | translate}}</button>
    <button ui-sref="home.receiveSip.qualityControl" type="button" class="btn-primary btn-lg">{{'QUALITYCONTROL' | translate}}</button>
    <!--<button ui-sref="home.receiveSip.catalogue" type="button" class="btn-primary btn-lg">{{'CATALOGUE' | translate}}</button>-->
    <button ui-sref="home.receiveSip.transferSip" type="button" class="btn-primary btn-lg">{{'TRANSFERSIP' | translate}}</button>
</div>
