<div class="sub-menu">
    <button ui-sref="home.createSip.info" type="button" class="btn-primary btn-lg">Info page</button>
    <button ui-sref="home.createSip.prepareIp" type="button" class="btn-primary btn-lg">Prepare IP</button>
   <!-- <button ui-sref="home.createSip.dataSelection" type="button" class="btn-primary btn-lg">Data selection</button>
    <button ui-sref="home.createSip.dataExtraction" type="button" class="btn-primary btn-lg">Data extraction</button>
    <button ui-sref="home.createSip.manageData" type="button" class="btn-primary btn-lg">Manage Data</button>-->
    <button ui-sref="home.createSip.ipApproval" type="button" class="btn-primary btn-lg">IP Approval</button>
    <!--<button ui-sref="login" type="button" class="btn-primary btn-lg">Login</button>-->
    <!--<button ui-sref="home.createSip.ipManagement" type="button" class="btn-primary btn-lg">IP Management</button>-->
</div>
