<div class="sub-menu">
    <button ng-click="changePath('/create-SIP/info');" type="button" class="btn-primary btn-lg">Info page</button>
    <button ng-click="changePath('/create-SIP/prepare-IP')" type="button" class="btn-primary btn-lg">Prepare IP</button>
    <!--<button ng-click="selectedPage=pages[2];" type="button" class="btn-primary btn-lg">Data selection</button>
    <button ng-click="selectedPage=pages[3];" type="button" class="btn-primary btn-lg">Data extraction</button>
    <button ng-click="selectedPage=pages[4];" type="button" class="btn-primary btn-lg">Manage Data</button>-->
    <button ng-click="changePath('/create-SIP/IP-approval')" type="button" class="btn-primary btn-lg">IP Approval</button>
    <!--<button ng-click="selectedPage=pages[6];" type="button" class="btn-primary btn-lg">IP Management</button>-->
</div>
