<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/submit_sip.css">
        <!--Angular Scripts -->
        <script src="static/frontend/scripts/bower_components/angular/angular.min.js"></script>
        <script src="static/frontend/scripts/bower_components/angular-route/angular-route.min.js"></script>
        <script src="static/frontend/scripts/vendor/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <!--App -->
        <script src="static/frontend/js/myApp.js"></script>
        <!--Controllers-->
    </head>
    <body>
        <div>
            <div class="sub-menu">
                <button ui-sref="home.submitSip.prepareSip" type="button" class="btn-primary btn-lg">{{'PREPARESIP' | translate}}</button>
                <!--<button ui-sref="home.submitSip.reuseSip" type="button" class="btn-primary btn-lg">Reuse SIP</button>
                <button ui-sref="home.submitSip.removeSip" type="button" class="btn-primary btn-lg">Remove SIP</button>-->
            </div>
            <div ui-view>
            </div>
        </div>
    </body>
</html>
