<html>
    <body>
        <div>
            <!--<div class="sub-menu">
                <button ui-sref="home.submitSip.info" type="button" class="btn-primary btn-lg">{{'INFOPAGE' | translate}}</button>
                <button ui-sref="home.submitSip.prepareSip" type="button" class="btn-primary btn-lg">{{'PREPARESIP' | translate}}</button>
                <button ui-sref="home.submitSip.reuseSip" type="button" class="btn-primary btn-lg">Reuse SIP</button>
                <button ui-sref="home.submitSip.removeSip" type="button" class="btn-primary btn-lg">Remove SIP</button>
            </div>-->
            <div ui-view>
            </div>
        </div>
    </body>
</html>
