<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/create_sip_ip_approval.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/submit_sip_prepare_sip.css">
    </head>
    <body>
        <div class="content-wrapper">
            <div class="list-view">
                <table st-table="vm.displayedIps" st-skip-natural="true" st-pipe="vm.callServer" class="table table-striped">
                    <thead>
                        <tr>
                            <tr>
                                <th colspan="5">
                                    <div class="search-prepare-wrapper">
                                        <label for items-per-page></label>
                                        <select id="items-per-page" style="margin-right: 10px;" class="form-control items-per-page" ng-model="vm.itemsPerPage" ng-options="x for x in [5,10,20,25,50]"></select>
                                        <input st-search="" class="form-control" placeholder="{{'GLOBALSEARCH' | translate}}" type="text"/>
                                    </div>
                                </th>
                            </tr>
                            <th class="clickable" st-sort="label" class="column-label">{{'LABEL' | translate}}</th>
                            <th class="clickable" st-sort="responsible" class="column-label">{{'RESPONSIBLE' | translate}}</th>
                            <th class="clickable" st-sort="date" class="column-label">{{'DATE' | translate}}</th>
                            <th class="clickable" st-sort="state" class="column-label">{{'STATE' | translate}}</th>
                            <th class="clickable" st-sort="state" class="column-label">{{'EVENTS' | translate}}</th>
                            <th class="clickable" st-sort="status" class="column-label">{{'STATUS' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="row.class" ng-repeat="row in vm.displayedIps" class="table-item">
                            <td class="clickable" ng-click="ipTableClick(row);selectIp(row)">{{row.Label}}</td>
                            <td class="clickable" ng-click="ipRowClick(row)">{{row.Responsible}}</td>
                            <td class="clickable" ng-click="ipRowClick(row)">{{row.CreateDate | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                            <td class="clickable" ng-click="stateClicked(row);selectIp(row)"><a href="">{{row.State}}</a></td>
                            <td class="clickable" ng-click="eventsClick(row);selectIp(row)"><a href="">{{'EVENTS' | translate}}</a></td>
                            <td>
                                <uib-progressbar class="progress" value="row.status" type="success"><b>{{row.status}}%</b></uib-progressbar>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="vm.itemsPerPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div ng-if="eventShow || statusShow" class="events-status-wrapper">
                <div ng-include src="'static/frontend/views/event_table.html'"></div>
                <div ng-if="statusShow" class="status-view">
                    <div ng-include src="'static/frontend/views/status_tree_view.html'"></div>
                </div>
            </div>
            <div ng-if="edit || eventlog" class="select-sub-edit-eventlog-wrapper">
                <div ng-if="edit" id="edit-veiw" class="edit-view" >
                    <div class="package-information">
                        <p>{{'PACKAGEINFORMATION'| translate}}</p>
                        <form  novalidate>
                            <formly-form model="vm.informationModel" fields="vm.informationFields" options="vm.options">
                            </formly-form>
                        </form>
                    </div>
                    <div class="package-dependencies">
                        <p>{{'PACKAGEDEPENDENCIES' | translate}}</p>
                        <form  novalidate>
                            <formly-form model="vm.dependencyModel" fields="vm.dependencyFields" options="vm.options">
                            </formly-form>
                        </form>
                        <div class="static-form">
                            <form  novalidate>
                                <formly-form model="vm.profileModel" fields="vm.profileFields" options="vm.options">
                                </formly-form>
                            </form>
                        </div>
                    </div>
                    <div class="file-list">
                        <table st-table="fileListRowCollection" st-safe-src="fileListCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="clickable" st-sort="filename">{{'FILENAME' | translate}}</th>
                                    <th class="clickable" st-sort="created">{{'CREATED' | translate}}</th>
                                    <th class="clickable" st-sort="size">{{'SIZE' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in fileListRowCollection">
                                    <td>{{row.filename}}</td>
                                    <td>{{row.created | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                                    <td>{{row.size}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-if="eventlog" class="eventlog-view">
                    <form class="submit-sip-eventlog-form" ng-submit="submitSip(ip)">
                        <div class="form-group">
                            <label>Status note</label>
                            <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                                <option value="" selected="selected" disabled>{{'SELECTONE' | translate}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{'COMMENT' | translate}}</label>
                            <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="approvedToSubmit">{{'APPROVEDTOSUBMIT' | translate}}</input>
                            </label>
                        </div>
                        <button ng-disabled="!approvedToSubmit"type="submit" class="btn btn-info submit-button">{{'SUBMITSIP' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
