<div class="enter-profile-name">
    <h3 class="modal-title" id="modal-title" style="margin: 5px;">{{('TASKREPORTFOR' | translate)+ ' ' +currentStepTask.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="step-task-info">
        <table class="table" style="margin: 5px;">
            <tr>
                <td><p>{{('PARAMS' | translate)+':'}}</p></td>
                <td>
                    <table class="table">
                        <tr ng-repeat="(key, value) in currentStepTask.params">
                            <td>{{key}}</td> <td class="param-value">{{value}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>{{('RESULT' | translate)+':'}}</td>
                <td>{{currentStepTask.result}}</td>
            </tr>
            <tr>
                <td>{{('TRACEBACK' | translate)+':'}}</td>
                <td>{{currentStepTask.traceback}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'CANCEL' | translate}}</button>
</div>

