<div class="enter-profile-name">
    <h3 class="modal-title" id="modal-title" style="margin: 5px;">{{('TASKREPORTFOR' | translate)+ ' ' +currentStepTask.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="step-task-info">
        <b style="margin: 5px;">{{'ID' | translate}}: </b>{{currentStepTask.id}}
        <pre>{{currentStepTask.traceback}}</pre>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()" focused="true">{{'CANCEL' | translate}}</button>
</div>

