{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %} 

{% endblock %} 

{% block content %} 

<div style="margin:20px">

  <H1>Create information package for <i>({{ ip.label }})</i> from <i>({{ ip.archivist_organization }})</i></H1>
  <p>
  <p><i>Please fill in the fields or use prefilled data   (* indicates mandatory field)</i></p>
  <br>
  <form action="/create/{{ip.id}}" method="post">
  {% csrf_token %}
  <table id="result_list" class="table table-condensed" style="width:auto">
	<tbody>
	{#}<tr><td>Source Root</td><td>{{ ip.directory }}</td></tr>#}

	{% for field in form %}
        <!--<div class="fieldWrapper">-->
            <tr><td>{{ field.label_tag }}</td><td>{{ field }}</td><td>{{ field.errors }}</td></tr>
        </div>
    {% endfor %}

    </tbody>
  </table>

  <br>
    {% csrf_token %}
    
  <p id="progress"></p>

  <br>
  <div id="etp-tree">
  <ul>
      <li id="ipcontainer" class="jstree-open">
        Content
          <ul id="ipinsert">
              
         </ul>
</li>
</ul>
</div> 
  <br>
  <input id="chunked_upload" type="file" name="the_file" title="Add files" multiple>
  <button type="submit" class="btn btn-default">Create</button>
  </form>
</div>
{% endblock %} 

{% block app-extra-script %}
 <script src="/static/jquery-2.0.3.min.js"></script>
 <!--- JQuery 2.0.3-->
  <script src="/static/jquery.ui.widget.js"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="/static/jquery.iframe-transport.js"></script>
  <!-- The basic File Upload plugin -->
  <script src="/static/jquery.fileupload.js"></script>
  <!-- File processing plugin-->
  <script src="/static/jquery.fileupload-process.js"></script>
  <!---Fileupload CSS-->
    <link rel="stylesheet" href="/static/jquery.fileupload.css" />
    <link rel="stylesheet" href="/static/jquery.fileupload-ui.css" />
    <!--Bootstrap-->
    -<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <!--Bootstrap fileupload-->
    <script src="/static/bootstrapfileupload/bootstrap.file-input.js"></script>
  <!-- Calculate md5 -->
  <script src="/static/spark-md5.js"></script>
  <!-- JSTree-->
  <script src="/static/jstree/jstree.min.js"></script>
  <!-- JS Tree CSS -->
  <link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
	
  <script type="text/javascript">
      console.log('The script is with us');
      
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
      
    $.ajaxSetup({cache: false});
  
function refreshjstree(ipidinfo){
    
            $("#progress").empty();
                 
                 var directoryinfo = {};
	
                $.getJSON( '/directoryinfo/' + ipidinfo, function(directoryinfo) {
 
                    console.log('directoryinfo');
                    console.log(directoryinfo);
                    
                        $("#etp-tree").jstree().destroy();
                        $("#etp-tree").append('<ul><li id="ipcontainer" class="jstree-open">Content<ul id="ipinsert"></ul>');
                        //$("#ipinsert").append('<li>' + data + '</li>');
                        $("#etp-tree").jstree({'core' : {'check_callback': true}});
                                        
                    for(i=0; i< directoryinfo.length; i++){
                        
                        var filename = directoryinfo[i];
                        
                        console.log('filename');
                        console.log(filename);
                        
                        var unnamed = $('#etp-tree').jstree().create_node({ "id" : "ipcontainer", "filename": filename });
                        $('#etp-tree').jstree().rename_node( unnamed, filename );                     
                        
                    }
                    
	});


   
}
    
     $("#etp-tree").jstree({'core' : {'check_callback': true}});
    refreshjstree({{ip.id}});
     
        var md5 = "uncalculated",
        csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
        form_data = [{"name": "csrfmiddlewaretoken", "value": csrf}];
    
    $("#chunked_upload").fileupload({
      url: "{% url 'etp_chunked_upload' %}",
      dataType: "json",
      //maxChunkSize: 100000, // Chunks of 100 kB
      maxChunkSize: 1048576, // Chunks of 1 MB
      formData: form_data,
      add: function(e, data) { // Called before starting upload
        //$("#messages").empty();
        // If this is the second file you're uploading we need to remove the
        // old upload_id and just keep the csrftoken (which is always first). 
        //form_data.splice(1);
        //calculate_md5(data.files[0], 100000);  // Again, chunks of 100 kB
        //calculate_md5(data.files[0], 1048576);  // Again, chunks of 1 MB
       data.process(function(){ return $("#chunked_upload").fileupload('process', data);});
        data.submit();
      },
      chunkdone: function (e, data) {// Called after uploading each chunk
          
        if (form_data.length < 2) {
          form_data.push(
            {"name": "upload_id", "value": data.result.upload_id}
            //{"name": "upload_id", "value": data.files[0].name}
          );
        }
        //$("#messages").append($('<p>').text(JSON.stringify(data.result)));
        var progress = parseInt(data.loaded / data.total * 100.0, 10);

        $("#progress").html('<progress value=' + progress + ' max="100"></progress>');
        if(progress == 100){
            
                   $.ajax({
          type: "POST",
          url: '/etp_upload_complete/' + {{ip.id}},
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            //upload_id: data.files[0].name,
            md5: data.files[0].md5
          },
          dataType: "json",
          
          success: function(data) {

             //$("#someidea").append($('<ul>').text(data));
            refreshjstree({{ip.id}});
            /*
            $("#progress").empty();
            $("#someidea").append($('<ul>').text(data));
              //$('#etp-tree').jstree().create_node({ "id" : "ipcontainer", "text" : data });// This one is working but no headlines
               
                var unnamed = $('#etp-tree').jstree().create_node({ "id" : "ipcontainer", data });
                 $('#etp-tree').jstree().rename_node( unnamed, data );
            */
          }

        });
          form_data.splice(1);
            
        }

      },
      
      done: function (e, data) { // Called when the file has completely uploaded
         

         if(data.files[0].size < 1048576 ){ //maxChunkSize hard coded - correct!
         
        $.ajax({
          type: "POST",
          url: '/etp_upload_complete/' + {{ip.id}},
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            //upload_id: data.files[0].name,
            md5: data.files[0].md5
          },
          dataType: "json",
          
          success: function(data) {
              
             //$("#someidea").append($('<ul>').text(data));
            refreshjstree({{ip.id}});
            
            /*
            $("#progress").empty();
            $("#someidea").append($('<ul>').text(data));
              //$('#etp-tree').jstree().create_node({ "id" : "ipcontainer", "text" : data });// This one is working but no headlines
               
                var unnamed = $('#etp-tree').jstree().create_node({ "id" : "ipcontainer", data });
                 $('#etp-tree').jstree().rename_node( unnamed, data );
                 */
                 
            //$("#etp-tree").jstree().destroy();
            //$("#etp-tree").append('<ul><li id="ipcontainer" class="jstree-open">Data<ul id="ipinsert"></ul>');
            //$("#ipinsert").append('<li>' + data + '</li>');
            //$("#etp-tree").jstree({'core' : {'check_callback': true}});
            //$("#ipcontainer").append('Data');
            //$("#ipinsert").append('<li>' + data + '</li>');
            //$("#etp-tree").jstree(true).refresh();
            //var tr = $('#etp-tree').jstree(true),
            //selected = tr.get_selected();
            //selected = tr.create_node(selected, {"data": data})
            //$("#etp-tree").jstree();
            

          }
        });
    }
    
      },
      
    });
      

    
  </script>
  
{% endblock %}


