{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %} 

{% endblock %} 
 
{% block content %} 

  <div style="margin:20px;">

  <H1>View and create IPs</H1>
  <br/>
    
    <div class="results">
      <table id="result_list" >
	    <thead>
	  		<tr>
	    		<th scope="col" >Creator</th>
	    		<th scope="col" >Label</th>
	    		<th scope="col" >Create date</th>
	    		<th scope="col" >IP type</th>
	    		<th scope="col" >IP (UUID)</th>
	    	</tr>
		</thead>
		<tbody>
	  
	  	{% if log_list %}
  	    	{% for log in log_list %}
	      		<tr class="row{% cycle '1' '2' %}">
					<td><a href="/logevents/view/{{ log.link }}">{{ log.creator }}</a></td>
					<td><a href="/logevents/view/{{ log.link }}">{{ log.label }}</a></td>
					<td><a href="/logevents/view/{{ log.link }}">{{ log.createdate }}</a></td>
					<td><a href="/logevents/view/{{ log.link }}">{{ log.iptype }}</a></td>
					<td><a href="/logevents/view/{{ log.link }}">{{ log.uuid    }}</a></td>
	      		</tr>
	    	{% endfor %}
	  	{% endif %}

	</tbody>
   </table>
  </div>
 </div>
  
<div id="msg">
<span style="color: red;" >{{ message }}</span>
</div>

{% endblock %} 
