{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %} 

{% endblock %} 

{% block content %} 

  <div style="margin:20px;">
  	
	<H1>Prepare and create IPs</H1>
	<p>
	<p><i>Please fill in the fields or use prefilled data   (* indicates mandatory field)</i></p>
	
    
    <form action="/create/view" method="post">
	  {% csrf_token %}
	
	  <table>
	    {#}<tr>#}
	    {#  <td>Destination root</td>#} 
	    {#  <td>{{ form.destinationroot }}</td>#}
	    {#  <td>{{ form.destinationroot.errors }}</td>#}
	    {#</tr>#}
	    <tr>
	      <td>Archivist organization *</td> 
	      <td>{{ form.archivist_organization }}</td>
	      <td>{{ form.archivist_organization.errors }}</td>
	    </tr>
	    <tr>
	      <td>Archive label</td> 
	      <td>{{ form.label }}</td>
	      <td>{{ form.label.errors }}</td>
	    </tr>
	    {#}<tr>#}
	    {#  <td>Period start date *</td>#} 
	    {#  <td>{{ form.startdate }}</td>#}
	    {#  <td>{{ form.startdate.errors }}</td>#}
	    {#</tr>#}
	    {#<tr>#}
	    {#  <td>Period end date *</td>#} 
	    {#  <td>{{ form.enddate }}</td>#}
	    {#  <td>{{ form.enddate.errors }}</td>#}
	    {#</tr>#}
	  </table> 
	  
	  <br>
	  <input type="submit" value="Prepare IP" />  
    
    </form>

	<br>       
	<p><i>Select information package to create</i></p>
	<div class="results">
	  <table id="result_list">
	    <thead>
	      <tr>
			<th>Archivist organization</th>
			<th>Label</th>
			<th>Create date</th>
			{#<th>Start date</th>#}
			{#<th>End date</th>#}
			<th>IP type</th>
			<th>IP location</th>
			<th>IP (UUID)</th>
			<th>IP state</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for ip in informationpackages %}
	      <tr class="row{% cycle '1' '2' %}">
				<td><a href="/create/{{ip.id}}">{{ ip.archivist_organization }}</a></td>
				<td><a href="/create/{{ip.id}}">{{ ip.label }}</a></td>
				<td><a href="/create/{{ip.id}}">{{ ip.createdate }}</a></td>
				{#<td><a href="/create/{{ip.id}}">{{ ip.startdate }}</a></td>#}
				{#<td><a href="/create/{{ip.id}}">{{ ip.enddate }}</a></td>#}
				<td><a href="/create/{{ip.id}}">{{ ip.iptype }}</a></td>
				<td><a href="/create/{{ip.id}}">{{ ip.directory }}</a></td>
				<td><a href="/create/{{ip.id}}">{{ ip.uuid }}</a></td>
				<td><a href="/create/{{ip.id}}">{{ ip.state }}</a></td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
   </div>


<div id="msg">
<span style="color: red;" >{{ message }}</span>
</div>

{% endblock %} 




