<style>
    .failure {
        background-color: #ff8288;
    }

    .success {
        background-color: #82ff82;
    }
</style>

<h2>Results for {{ step.name }} with id {{ step.id }}</h2>
<h2>Tasks</h2>
<div>
    <table border=1>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>progress</th>
                <th>status</th>
                <th>time_started</th>
                <th>time_done</th>
                <th>undone</th>
                <th>retried</th>
            </tr>
        </thead>
        <tbody>
            {% for t in step.tasks.all %}
            <tr class="{{ t.status }}">
                <td>{{ t.id }}</td>
                <td>{{ t.name }}</td>
                <td>{{ t.progress }}</td>
                <td>{{ t.status }}</td>
                <td>{{ t.time_started }}</td>
                <td>{{ t.time_done }}</td>
                <td>{{ t.undone }}</td>
                <td>{{ t.retried }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/preingest/undo_failed/{{ step.id }}">
        <input type="submit" value="Undo failed"/>
    </form>
    <form method="get" action="/preingest/undo_step/{{ step.id }}">
        <input type="submit" value="Undo all"/>
    </form>
    <form method="get" action="/preingest/retry_step/{{ step.id }}">
        <input type="submit" value="Retry"/>
    </form>
</div>
