<html>
    <head>
        <link rel="stylesheet" type"text/css" href="scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/index.css">
        <link rel="stylesheet" type="text/css" href="styles/recieve_sip.css">
        <!--Angular Scripts -->
        <script src="scripts/bower_components/angular/angular.min.js"></script>
        <script src="scripts/bower_components/angular-route/angular-route.min.js"></script>
        <script src="scripts/vendor/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <!--App -->
        <script src="js/myApp.js"></script>
        <!--Controllers-->

    </head>
    <body>
        <div>
            <div class="sub-menu">
                <button type="button" class="btn-primary btn-lg">Reception</button>
                <button type="button" class="btn-primary btn-lg">Finalize</button>
                <button type="button" class="btn-primary btn-lg">Catalogue</button>
                <button type="button" class="btn-primary btn-lg">Transfer SIP</button>
            </div>
            </br>
            Recieve sip section
        </div>
    </body>
</html>
