{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %} 

{% endblock %} 
 
{% block content %} 

<div style="margin:20px;">
	<H1>Receive information packages</H1>
	<br>

    <form action="/logevents/create" method="post">
    {% csrf_token %}

    <div class="results">
      <table id="result_list" >

	    <thead>
	  		<tr>
	    		<th scope="col" >Opt</th>
	    		<th scope="col" >Archivist organization</th>
	    		<th scope="col" >Label</th>
	    		<th scope="col" >Create date</th>
	    		<th scope="col" >IP type</th>
	    		<th scope="col" >IP location</th>
	    		<th scope="col" >IP (UUID)</th>
	    		<th scope="col" >IP state</th>
	    	</tr>
		</thead>

		<tbody>
	  	{% if file_list %}
  	    	{% for ip in file_list %}
	      		<tr class="row{% cycle '1' '2' %}">
	      			<td><input type="checkbox" name="checkbox" id="checkbox" value={{ ip.fullpath }}></td> 
				    <td>{{ ip.ip_archivist_organization }}</td>
					<td>{{ ip.ip_label }}</td>
					<td>{{ ip.ip_createdate }}</td>
					<td>{{ ip.ip_type }}</td>
					<td>{{ ip.iplocation }}</td>
					<td>{{ ip.ip_uuid }}</td>
					<td>{{ ip.state }}</td>
	      		</tr>
	    	{% endfor %}
	  	{% endif %}
	</tbody>

   	</table>
	</div>

	<br/>

	<p><i>Please specify validation requirements in connection with the reception of IP</i></p>
	<table>
	  	<tr>
	    	<td>Validate package specification file?</td>
	    	<td> {{ form.package_description }}</td> 
	    	<td> {{ form.package_description.errors }}</td>
	  	</tr>
	  	<tr>
	    	<td>Validate content of package (IP)? </td>
	    	<td> {{ form.package_content }}</td> 
	    	<td> {{ form.package_content.errors }}</td> 
	  	</tr>
	  	{#}<tr>#}
	    {#	<td>Validate delivery type specification file? </td>#}
	    {#	<td> {{ form.deliverytype_description }}</td> #}
	    {#	<td> {{ form.deliverytype_description.errors }}</td>#} 
	  	{#</tr>#}
	</table>
	<br/>

	
    <input type="submit" value="Receive IP" />
	
	</form>
	
{#	<p><i>Please specify path to specification file in order to receive IP</i></p> #}
{#    <table>#}
{#	  	<tr>#}
{#	    	<td> Path to specification file </td>#}
{#	    	<td> {{ form.sourceroot }}</td> #}
{#	    	<td> {{ form.sourceroot.errors }}</td>#} 
{#	  	</tr>#}
{#	</table>#}

</div>

<div id="msg">
<span style="color: red;" >{{ message }}</span>
</div>

{% endblock %} 
