{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %} 

{% endblock %} 

{% block content %} 

  <div style="margin:20px;">
	<H1>Add new event for <i>({{ label }})</i> from <i>({{ archivist_organization }})</i></H1>
    <br>       
    <form action="/logevents/view/{{link}}" method="post">
      {% csrf_token %}
    <table>
	<tr>
	  <td> Event </td>
	  <td> {{ form.eventType }}</td> 
	  <td> {{ form.eventType.errors }}</td> 
	</tr>
	<tr>
	  <td> Status </td>
	  <td> {{ form.eventOutcome }}</td> 
	  <td> {{ form.eventOutcome.errors }}</td> 
	</tr>
	<tr>
	  <td> Comments </td>
	  <td> {{ form.eventOutcomeDetailNote }}</td> 
	  <td> {{ form.eventOutcomeDetailNote.errors }}</td> 
	</tr>
    </table>
    <br>
      <input type="submit" value="Add log event" />      
    </form>

   	<br>       
	<p><i>Log content</i></p>
    <div class="results">
      <table id="result_list" border="1">
	<thead>
	  <tr>
	    <th scope="col" >Time</th>
	    <th scope="col" >Type</th>
	    <th scope="col" >Event</th>
	    <th scope="col" >Status</th>
	    <th scope="col" >Comments</th>
	    <th scope="col" >Agent</th>
	    
	  </tr>
	</thead>
	<tbody>

	  {% if log_content %}
  	    {% for log in log_content %}
  	    <tr class="row1">
		<td>{{ log.eventDateTime }}</td>
		<td>{{ log.eventType }}</td>
		<td>{{ log.eventDetail }}</td>
		<td>{{ log.eventOutcome }}</td>
		<td>{{ log.eventOutcomeDetailNote }}</td>
		<td>{{ log.linkingAgentIdentifierValue }}</td>
		</tr>
	    {% endfor %}
	  {% endif %}

	</tbody>
      </table>
    </div>
  </div>
  


<div id="msg">
<span style="color: red;" >{{ message }}</span>
</div>

{% endblock %} 
