.content-wrapper {
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
max-height: 962px;
width: 100%;

}
.glyphicon-triangle-bottom {
    cursor: pointer;
}
.column-label {
    margin: auto;
}
.content-wrapper > div {
    margin-bottom: 10px;
    margin-left: 10px;
}
.search-prepare-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.search-prepare-wrapper button {
    margin-left: 10px;
}
.list-view {
    max-height: 330px;
    overflow-y: scroll;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 8px;
    position: relative;
}
.progress {
    height: 20px;
    width: 150px;
    margin: 0;
}
.progress b { position: relative; }
.column-label {
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.edit-view .submit-button {
    margin-bottom: 5px;
}
.list-view-buttons {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: left;
    -webkit-justify-content: left;
    margin-bottom: 5px;
}
.list-view-buttons .btn {
    margin-left: 10px;
}
.select-sub-edit-eventlog-wrapper {
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
    max-height: 65%;
    position: relative;
}
.events-status-wrapper {
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}
.event-view {
    margin: 5px;
    padding: 5px;
    max-height: 550px;
    overflow-y: scroll;
}
.items-per-page {
    width: 15%;
}
.select-view {
    max-height: 200px;
    overflow-y: scroll;
    margin: 5px;
    padding: 5px;
}
.select-view > .checkbox {
    height: 10px;
}
.table-col {
    margin: 0;
}
.form-control {
    height: 26px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
}
td {
    margin: 0;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 8px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding-top: 4px;
    padding-bottom: 8px;
    line-height: 1;
}
.status-view {
    max-height: 550px;
    overflow-y: scroll;
}
/*.status-view treecontrol {
    font-size: 20px;
}*/
.tasks-list {
   /* border-style: solid;
    border-color: #ccc;
    border-radius: 5px;*/
    padding: 10px;
}
.sub-select-view {
    border-top-style: solid;
    border-color: #666;
    /*text-align: center;
    position: relative;*/
    height: 60px;
    font-size: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.sub-select-view > select {
    margin-left: 20px;;
    height: 30px;
}
.sub-select-profile {
    width: 25%;
}
.sub-select-agreement {
    width: 25%;
}
.sub-select-nationality {
    width: 10%;
}

.edit-view {
    max-height: 340px;
    border-top-style: solid;
    border-color: #666;
    overflow-y: scroll;
    margin: 5px;
    padding: 5px;
}
.edit-view .btn-danger {
    float: right;
}
.eventlog-view {
    border-top-style: solid;
    border-color: #666;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    height: 70px;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.eventlog-view .form-group {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 33%;
}
.eventlog-view .btn-info {
    float: right;
}
.eventlog-view .status-note{
}
.eventlog-view .checkbox {
}
input[type="checkbox"] {
  transform:scale(1.3, 1.3);
}
.eventlog-view .submit-button {
    height: 40px;
    margin-right: 20px;
}
.eventlog-view .signature {
}
.edit-view .formly {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
}
.eventlog-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
     justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin-left: 10px;
}
.submit-sip-eventlog-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
     justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-left: 10px;
}
.events-footer {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    height: 60px;
    margin: 5px;
    padding: 5px;
}
.events-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 50%;
    margin-left: 10px;
}
.events-form .submit-button {
    height: 40px;
    margin-top: 10px;
}
.control-label {
    font-size: 10px;
}
.formly-field {
    width: 20%;
    margin-left: 5px;
}
.submit-button {
    margin-left: 5px;
}
.validator-choices .formly {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

}
.validator-choices .formly select {
    width: 30%;
}
