.content-wrapper {
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
height: 800px;

}
.glyphicon-triangle-bottom {
    cursor: pointer;
}
.column-label {
    margin: auto;
}
.progress {
    width: 150px;
}
.content-wrapper {
    height: 100%;
    width: 100%;
}
.content-wrapper > div {
    margin-bottom: 10px;
    margin-left: 10px;
}
.list-view {
    max-height: 270px;
    overflow-y: scroll;
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 8px;
}
.st-selected > td{
    background-color: cornFlowerBlue;
}
.column-label {
    cursor: pointer;
}
.edit-view .submit-button {
    margin-bottom: 5px;
}
.list-view-buttons {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: left;
    -webkit-justify-content: left;
    margin-bottom: 5px;
}
.list-view-buttons .btn {
    margin-left: 10px;
}
.select-sub-edit-eventlog-wrapper {
    border-style: solid;
    border-color: #666;
    border-radius: 15px;
}
.select-view {
    border-bottom-style: solid;
    border-color: #666;
}
.status-view {
    border-bottom-style: solid;
    border-color: #666;
}
.sub-select-view {
    border-bottom-style: solid;
    border-color: #666;
}

.edit-view {
    height: 60%;
    border-bottom-style: solid;
    border-color: #666;
}

.eventlog-view {
}
.formly {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.control-label {
    font-size: 10px;
}
.formly-field {
    width: 23%;
    margin-left: 5px;
}
.submit-button {
    margin-left: 5px;
}
