<div ng-if="eventShow" class="event-view">
    <div ng-controller="EventCtrl" class="table-container">
        <select class="form-control items-per-page"  ng-model="itemsPerPage" ng-options="x for x in [5,10,20,25,50]"></select>
        <table st-table="displayed" st-pipe="eventPipe" class="table table-striped">
            <thead>
                <tr>
                    <th class="clickable" st-sort="id">{{'ID' | translate}}</th>
                    <th class="clickable" st-sort="eventDetail">{{'EVENTDETAIL' | translate}}</th>
                    <th class="clickable" st-sort="eventDateTime">{{'EVENTTIME' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="row.class" ng-click="eventClick(row)" ng-repeat="row in displayed">
                    <td>{{row.id}}</td>
                    <td>{{row.eventDetail}}</td>
                    <td>{{row.eventDateTime | date:"yyyy-MM-dd hh:mm:ss"}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-template="static/frontend/views/pagination.html" st-pagination="" st-items-by-page="itemsPerPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="events-footer">
            <form class="events-form" ng-submit="addEvent(ip, statusNote, signature)">
                <div class="form-group">
                    <label>{{'EVENTTYPE' | translate}}</label>
                    <select class="status-note form-control" ng-model="statusNote" ng-options="x as x.eventDetail for x in statusNoteCollection" ng-required="true">
                        <option value="" selected="selected" disabled>{{'SELECTONE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{'COMMENT' | translate}}</label>
                    <input class="signature form-control" ng-model="signature" ng-required="true" id="signature"></input>
                </div>
                <button type="submit" class="btn btn-info submit-button">{{'ADDEVENT' | translate}}</button>
            </form>
        </div>
    </div>
</div>
