<html>
    <head>
        <link rel="stylesheet" type"text/css" href="static/frontend/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/index.css">
        <link rel="stylesheet" type="text/css" href="static/frontend/styles/login.css">


    </head>
    <body>
        <div class="login-box">
            <h1>ESSArch</h1>
            <p>{{'LOGIN' | translate}}<p>
            <div id="login_view" ng-controller="LoginCtrl">
                <form role="form" ng-submit="login(loginForm)" name="loginForm" novalidate>
                    <div class="form-group">
                        <label for="id_username">{{'USERNAME' | translate}}</label>
                        <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control" required />
                    </div>
                    <div class="alert alert-danger" ng-repeat="error in errors.username">{{error}}</div>
                    <div class="form-group">
                        <label for="id_password">{{'PASSWORD' | translate}}</label>
                        <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required />
                    </div>
                    <div class="alert alert-danger" ng-repeat="error in errors.password">{{error}}</div>
                    <div class="alert alert-danger" ng-repeat="error in errors.non_field_errors">{{error}}</div>
                    <div class="alert alert-danger" ng-if="error">{{error}}</div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{'LOGIN' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html
